:root {
  --color-primary-custome: rgb(0,78,155);
}
input[type=checkbox]
{
  cursor: pointer;
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.35); /* IE */
  -moz-transform: scale(1.35); /* FF */
  -webkit-transform: scale(1.35); /* Safari and Chrome */
  -o-transform: scale(1.35); /* Opera */
}

.cursor-pointer {
  cursor: pointer !important;
}

.bg-custom-color,
.nav-link.active {
  background-color: var(--color-primary-custome) !important;
}
.nav .nav-link {
  color: var(--color-primary-custome);
}
.tab-content>.active {
  display: flex !important;
}

.btn.btn-outline-custom {
  border: 1px solid var(--color-primary-custome);
  color: var(--color-primary-custome);
}
.btn.btn-outline-custom:hover {
  background-color: var(--color-primary-custome);
  color: #fff;
}